[run]

[report]
omit =
        */venv/*
        */python?.?/*
        */site-packages/nose/*
        */__pycache__/*
        *.pyc
        */mymodule/tests/*
        *__init__.py
        *tests*
        */apidocs/*
